
main   form{
    background: rgba(255, 255, 255, 0.284);
    min-height: 300px;
    width: 300px; 
    box-shadow: 1px 1px 19px 7px #000000;
    margin:0 auto; 
    padding: 12px;
    border-radius: 4px; 
}
main form label{
    font-size: 1em;
    font-weight: bold;
}

